<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como começar</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Um resumo sobre a Ciência da Computação:</h1>
            <p>Definir a Ciência da Computação é uma tarefa difícil, pois ela transcende o que é uma ciência. Ela também não é exatamente sobre computadores. Seu coração é o algoritmo: uma sequência de passos para resolver um problema. Atualmente, ela começa na matemática e física, ganha vida com eletricidade e torna-se uma disciplina que conecta teoria a prática, muitas vezes resultando em soluções para problemas no mundo real.</p>
            <p>Para iniciar os estudos na área, um dos melhores recursos é um curso introdutório gratuito da universidade de Harvard. Esse curso é ministrado em inglês, porém inclui legendas em Português, facilitando o acesso.</p>
            <p>Vale destacar também a iniciativa da Universidade Livre Brasileira, que disponibiliza um curso completo de Ciência da Computação com materiais gratuitos. É importante ressaltar que a modalidade oferece apenas o conteúdo, sem diploma de conclusão.</p>
            <p>Nota: Muitas vezes os materiais podem parecer antigos e desatualizados, mas os fundamentos de matemática e lógica de programação mantiveram-se essencialmente os mesmos nos últimos 50 anos.</p>
        </div>
    </section>
    <!-- Fim do texto -->

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Comece aqui:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://cs50.harvard.edu/x/" class="feature-card">
                            <h3>Harvard</h3>
                            <p>Curso cs50x, de introdução a Ciência da Computação. Harvard dispensa comentários.</p>
                    </a>
                    <a href="https://github.com/ossu/computer-science-br" class="feature-card">
                        <h3>OSSU</h3>
                        <p>Educação completa em CC utilizando materiais totalmente online em Português do Brasil.</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
