<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>

<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <section class="destaque">
        <div class="container">
            <h1>Grace Hopper</h1>
            <img src="../images/grace.jpg" alt="Imagem de Grace Hopper" class="img-fluid">
            <h6>Imagem: britannica.com</h6>
            <p>Para entendermos uma das principais contribuições de Grace Hopper, precisamos entender o contexto histórico. Programas de computador eram escritos em uma forma bem próxima da linguagem de máquina (computadores raciocinam em 0s e 1s). Grace acreditava que programas deveriam ser escritos de uma forma mais próxima ao inglês. Ela foi uma das criadoras da linguagem COBOL e desenvolveu o primeiro compilador, um programa que traduz instruções escritas em uma linguagem de alto nível (próxima do inglês) para a linguagem de máquina (0s e 1s) que o computador entende. Além disso, ela desenvolveu o "linker" do COBOL, que é a ferramenta responsável por conectar as diversas partes de código compilado, combinando-os em um único programa executável.</p>
            <p>Curiosidade: Na época em que Hopper começou sua carreira na computação, os computadores eram máquinas gigantescas se comparados aos atuais. É dito que ela é a autora do termo "bug", pois ao tentar arrumar um problema em sua máquina, ela identificou um inseto (bug, em inglês) causando transtorno dentro do computador! Desde então o termo "bug" passou a ser usado para referir-se a falhas em sistemas computacionais.</p>
            <a href="começar.html" class="botao">Como começar?</a>
        </div>
    </section>

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Saiba mais sobre Grace Hopper:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://pt.wikipedia.org/wiki/Grace_Hopper" class="feature-card">
                            <h3>Wikipedia</h3>
                            <p>Para uma leitura resumida, mas razoavelmente completa.</p>
                    </a>
                    <a href="https://www.institutodeengenharia.org.br/site/2018/12/10/mulheres-que-mudaram-a-engenharia-e-a-ciencia-grace-hopper/" class="feature-card">
                        <h3>Instituto de Engenharia</h3>
                        <p>Mulheres que mudaram a engenharia e a ciência: Grace Hopper</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->
    </body>
</html>
