<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia da àrea</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Engenharia da computação, Ciência da Computação, Análise e Desenvolvimento de Sistemas, Engenharia de Software...</h1>
            <p>Muitos desses nomes podem ser nada intuitivos para alguém que não é da área, causando uma certa confusão. Pois bem, essa página é dedicada para tentar solucionar algumas dessas dúvidas.</p>
            <p>Ciência da Computação: Tenta entender os porquês da computação. Estuda profundamente algoritmos complexos, estruturas de dados, inteligência artificial, machine learning, teoria dos grafos, linguagens de programação e a matemática por trás de tudo (cálculo, álgebra linear, estatística...).</p>
            <p>Engenharia de Software: Mais focada em como colocar a programação em prática. Ensina metodologias de desenvolvimento (Ágil, Scrum), gestão de projetos, arquitetura de software, testes, qualidade de código, DevOps e como trabalhar em equipe para entregar um produto final que atenda às necessidades do usuário.</p>
            <p>Análise e Desenvolvimento de Sistemas: Um foco maior em programação. Ensina a analisar, projetar, desenvolver e implementar sistemas computacionais. Um dos pontos negativos de ADS é que essa formação não dá uma base muito extensa.</p>
            <p>Engenharia da Computação: Projetar e construir sistemas computacionais completos. Isso inclui o estudo de circuitos elétricos, eletrônica digital e analógica, arquitetura de processadores, sistemas embarcados (que controlam carros, robôs, eletrodomésticos) e também programação de baixo nível (próxima da linguagem da máquina).</p>
        </div>
    </section>
    <!-- Fim do texto -->

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Comece aqui:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://roadmap.sh/" class="feature-card">
                            <h3>roadmap.sh</h3>
                            <p>Esse recurso lhe permite ter uma visão melhor sobre as áreas disponíveis e os conhecimentos que cada uma demanda/ensina. Além de ser frequentemente atualizado com recursos atuais.</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
