<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História da Computação</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Por qual motivo a Ciência da Computação existe?</h1>
            <p>Desde sempre a humanidade tende a procurar por formas de tornar a vida mais fácil, com ferramentas por exemplo. Essa necessidade e curiosidade levou ao desenvolvimento da matemática. E é por causa da matemática e da física (matemática no mundo real) que a área da Ciência da Computação veio a existir.</p>
            <p>O primeiro programa: Mesmo antes de eletrônicos começarem a ser desenvolvidos, Ada Lovelace escreveu o primeiro algoritmo de computador. Ela via uma máquina que poderia ir além da manipulação de símbolos, um computador de propósitos gerais.</p>
            <p>Lógica Booleana: George Boole estabeleceu a álgebra booleana, que é a base de como os computadores atuais pensam. Com isso, qualquer valor/letra/etc, pode ser representado com apenas 2 síbolos: 0 ou 1, vistos como Falso ou Verdadeiro. Por exemplo, usando o sistema normal pra contar, uma pessoa com dez dedos nas mão consegue contar até 10. Utilizando esse sistema binário, uma pessoa pode contar de 0 a 1023 com dez dedos.</p>
            <p>Numa forma geral, podemos ver a Ciência da Computação como a tentativa de humanos de solucionar problemas e tornar a vida mais simples e automatizada.</p>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
