<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loiane Groner</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Loiane Groner</h1>
            <img src="../images/loiane.jpg" alt="Imagem de Loiane Groner" class="img-fluid">
            <h6>Imagem: youtube.com</h6>
            <p>Loiane é uma brasileira referência global em ensino de tecnologia, especialmente na área de Front-end.</p>
            <p>Sua maior contribuição está no fornecimento de conteúdo educacional de qualidade de forma acessível (e em sua maioria gratuita). Ela tem um dom raro: Consegue traduzir conceitos complexos para conteúdos incrivelmente didáticos para iniciantes, sem perder o rigor técnico. Isso a tornou uma professora para milhares (se não milhões) de pessoas em todo o mundo através de seus livros e cursos.</p>
            <a href="começar.html" class="botao">Como começar?</a>
        </div>
    </section>
    <!-- Fim do texto -->

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Saiba mais sobre Loiane Groner:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://loiane.training" class="feature-card">
                            <h3>loiane.training</h3>
                            <p>Plataforma com cursos gratuitos para iniciantes na área de programação.</p>
                    </a>
                    <a href="https://www.escavador.com/sobre/703393/loiane-groner" class="feature-card">
                        <h3>Escavador</h3>
                        <p>Saiba mais sobre a trajetória e habilidades de Loiane</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
