<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radia Joy Perlman</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Radia Joy Perlman</h1>
            <img src="../images/radia.webp" alt="Imagem de Barbara Liskov" style="width:512px;height:384px;">
            <h6>Imagem: historiacompu.net</h6>
            <p>A norte-americana Radia Perlman é amplamente conhecida como "A Mãe da Internet" por sua contribuição que tornou a internet como a conhecemos hoje. Ela obteve seu bacharelado e mestrado em Matemática e um doutorado em Ciência da Computação pelo MIT. Se você visitou as outras páginas deve ter percebido como muitas das pessoas que trazem inovações tecnológicas estão envolvidos com o MIT.</p>
            <p>Sua contribuição mais revolucionária foi a invenção do protocolo "Spanning Tree Protocol" (STP), descrito no padrão IEEE 802.1D.</p>
            <p>No contexto histórico, antes de sua invenção, era impossível conectar grandes redes de computadores. Se houvesse múltiplos caminhos entre switches, repetições ocorreriam, criando um imenso tráfego que paralisava toda a comunicação.</p>
            <p>O STP resolveu magicamente esse problema.</p>
            <p>Basicamente, Radia arquitetou a espinha dorsal que sustenta a internet como a conhecemos hoje. Uma verdadeira lenda viva.</p>
            <a href="começar.html" class="botao">Como começar?</a>
        </div>
    </section>
    <!-- Fim do texto -->

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Saiba mais sobre Radia Perlman:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://pt.wikipedia.org/wiki/Radia_Perlman" class="feature-card">
                            <h3>Wikipedia</h3>
                            <p>Para uma leitura resumida, mas razoavelmente completa.</p>
                    </a>
                    <a href="https://energiainteligenteufjf.com.br/biografia/radia-perlman-a-mae-da-internet/" class="feature-card">
                        <h3>Energia Inteligente</h3>
                        <p>Radia Perlman: A Mãe da Internet</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
