<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shafi Goldwasser</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="../script.js"></script>
</head>
<body>

    <!-- Inicio da navbar -->
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="../index.html" class="logo">Início</a>
                
                <!-- Ícone -->
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                
                <!-- Partes da navbar -->
                <ul class="nav-links" id="nav-links">
                    <li><a href="guia.html">Guia</a></li>
                    <li><a href="historia.html">História</a></li>
                    <li><a href="recursos.html">Recursos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Fim da navbar -->

    <!-- Texto -->
    <section class="destaque">
        <div class="container">
            <h1>Shafi Goldwasser</h1>
            <img src="../images/shafi.jpg" alt="Imagem de Barbara Liskov" style="width:440;height:440px;">
            <h6>Imagem: wikipedia.org</h6>
            <p>Shafi nasceu em 1958, e obteve seu bacharelado em matemática e ciências em 1979. Fez pós-graduação e doutorado em Ciência da Computação. Ela é co-inventora da criptografia probabilística, que alcançou o padrão de ouro para segurança de dados. Ela é co-inventora de provas de conhecimento zero, que probabilisticamente demonstram a validade de uma afirmação sem transmitir nenhum conhecimento adicional.</p>
            <p>O currículo de Shafi é repleto das mais altas honrarias, incluindo o Prêmio Turing de 2012, que recebeu por seus trabalhos revolucionários em criptografia. Ela atualmente é professora no MIT, consistentemente uma das melhores universidades de tecnologia do mundo.</p>
            <a href="começar.html" class="botao">Como começar?</a>
        </div>
    </section>
    <!-- Fim do texto -->

     <section class="features">
            <div class="container">
                <div class="section-title">
                    <h2>Saiba mais sobre Shafi Goldwasser:</h2>
                </div>
                <div class="features-grid">
                    <a href="https://pt.wikipedia.org/wiki/Shafrira_Goldwasser" class="feature-card">
                            <h3>Wikipedia</h3>
                            <p>Para uma leitura resumida, mas razoavelmente completa.</p>
                    </a>
                    <a href="https://www.csail.mit.edu/person/shafi-goldwasser" class="feature-card">
                        <h3>MIT</h3>
                        <p>Talvez por se tratar de uma pessoa que fez a diferença mais recentemente, não encontrei muitos recursos em Português sobre a Shafi. Aqui está a página da MIT dela.</p>
                    </a>
            </div>
        </div>
    </section>

    <!-- Inicio do footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>Sobre esse projeto:</h3>
                    <p>Nosso objetivo é dar direção para a exploração da área de TI (focando na Ciência da Computação) com recursos de qualidade gratuitos.</p>
                </div>
                <div class="footer-column">
                    <h3>Contato:</h3>
                    <p>e-mail: rdogz@proton.me</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy;2025. Todos os direitos reservados aos respectivos donos.</p>
            </div>
        </div>
    </footer>
    <!-- Fim do footer -->

    </body>
</html>
